/**
 * Facebook Store Generator
 * ========================
 * 
*/
@import url(reset.css);

body {
    font: 300 13px/1.25 "Helvetica Neue", "Helvetica", sans-serif;
}
a { color: #25BCB6; text-decoration: none; } a:hover { text-decoration: underline; }

/**
 * Generator
 * =========
 * Structure, Product, Output
*/

    /* Structure */
    #generator {
        padding: 15px;
        overflow: hidden;
        background: #eee;
    }
    #generator > .settings {
        float: left;
        width: 33.33%;
    }
    #generator > .settings .wrapper { padding: 0 15px 0 0; }

        /* Inputs */
        #generator .settings .input {
            display: block;
            margin: 0 0 10px 0;
            overflow: hidden;
        }
        #generator .settings label {
            display: block;
            float: left;
            width: 30%;
            line-height: 25px
        }
        #generator .text input {
            padding: 5px;
            width: 70%;
            line-height: 1;
            border: 1px solid #ccc;
            -webkit-border-radius: 3px;
               -moz-border-radius: 3px;
                    border-radius: 3px;
        }

    /* Output */
    #output textarea {
        width: 100%;
        height: 300px;
    }

    /* Created Products */
    .created-products ul {
        max-height: 175px;
        overflow-y: auto;
        background: #fff;
        border: 1px solid #ccc;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
    }
    .created-products li {
        cursor: pointer;
        display: block;
        padding: 5px;
        line-height: 1;
        border-bottom: 1px solid #ccc;
    }
    .created-products li:hover {
        color: #fff;
        background: #bc2525;
    }
    .created-products li:last-of-type { border: none; }

/**
 * Globals
 * =======
 * Buttons
*/

    /* Buttons */
    .btn {
        display: block;
        padding: 15px 0;
        width: 100%;
        color: #fff;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        background: #25BCB6;
        -webkit-border-radius: 3px;
           -moz-border-radius: 3px;
                border-radius: 3px;
    }
    .btn:hover { background: #2a9e99; }
    .btn[disabled="disabled"] { opacity: 0.2; }
