<!DOCTYPE html>
<html data-ng-app="storemaker">
	<head>
		<title>Store Generator</title>
		<link rel="stylesheet" type="text/css" href="css/master.css">
	</head>
	<body data-ng-controller="generatorCtrl">

		<div id="header">
			<h1 class="title branding">
				Store Generator
				<small>(v2.1)</small>
			</h1>
			<div class="alert" data-ng-show="alert" data-ng-click="alert = undefined">
				{{alert}}
			</div>
		</div>

		<div id="generator">

			<div class="storesettings settings">
				<div class="wrapper">
					<div class="header">
						<h3 class="title">
							Store Settings
						</h3>
					</div>
					<ng-form name="pageSettings">
						<div class="input text">
							<label for="store-banner">Store Name:</label>
							<input type="text" data-ng-model="storeSettings.name" placeholder="Awesome Store" required>
						</div>
						<div class="input text">
							<label for="store-banner">Store URL:</label>
							<input type="url" data-ng-model="storeSettings.url" placeholder="http://jakeowen.net/store" required>
						</div>
						<div class="input text">
							<label for="store-banner">Banner URL:</label>
							<input type="url" data-ng-model="storeSettings.bannerUrl" placeholder="http://site.com/image.jpg">
						</div>
						<div class="input text">
							<label for="store-border">Tagline:</label>
							<input type="text" data-ng-model="storeSettings.tagline" placeholder="Want To see more? Click here.">
						</div>
						<div class="input submit preview">
							<input type="submit" class="btn" value="Save/Generate" data-ng-click="generate()" data-ng-disabled="this.pageSettings.$invalid">
						</div>
					</ng-form>
				</div>
			</div>

			<div class="product-settings settings">
				<div class="wrapper">
					<div class="header">
						<h3 class="title">
							<span data-ng-show="!isEditing">Add a Product</span>
							<span data-ng-show="isEditing">Make Edits to Existing Product</span>
						</h3>
					</div>

					<ng-form name="addProductForm" data-ng-show="!isEditing">
						<div class="input text">
							<label for="product-name">Name:</label>
							<input id="productName" name="product-name" type="text" data-ng-model="product.name" placeholder="Awesome Product" required>
						</div>
						<div class="input text price">
							<label for="product-price">Price: $</label>
							<input id="productPrice" name="product-price" type="text" data-ng-model="product.price" placeholder="1.99" required>
						</div>
						<div class="input text image-url">
							<label>Image URL:</label>
							<input id="productImage" name="product-image" type="text" data-ng-model="product.image" placeholder="http://site.com/image.jpg" required>
						</div>
						<div class="input text product-link">
							<label for="product-link">Link:</label>
							<input id="productLink" name="product-link" type="url" data-ng-model="product.url" placeholder="http://site.com/store/products/test" required>
						</div>
						<div class="input submit add-product">
							<input id="Add Product" type="submit" class="btn" data-ng-click="addProduct()" data-ng-disabled="this.addProductForm.$invalid" value="Add Product">
						</div>
					</ng-form>

					<ng-form name="editProductForm" data-ng-show="isEditing">
						<div class="input text">
							<label>Name:</label>
							<input type="text" data-ng-model="editedProduct.name" placeholder="Awesome Product" required>
						</div>
						<div class="input text price">
							<label>Price: $</label>
							<input type="text" data-ng-model="editedProduct.price" placeholder="1.99" required>
						</div>
						<div class="input text image-url">
							<label>Image URL:</label>
							<input type="text" data-ng-model="editedProduct.image" placeholder="http://site.com/image.jpg" required>
						</div>
						<div class="input text product-link">
							<label for="product-link">Link:</label>
							<input type="url" data-ng-model="editedProduct.url" placeholder="http://site.com/store/products/test" required>
						</div>
						<div class="input submit add-product">
							<input type="submit" class="btn success" data-ng-click="saveExistingProduct()" data-ng-disabled="this.editProductForm.$invalid" value="Save Changes">
						</div>
					</ng-form>

				</div>
			</div>

			<div class="created-products settings">
				<div class="wrapper">
					<div class="header">
						<h3 class="title">
							Created Products
							<small>(Click to edit)</small>
						</h3>
					</div>
					<ul class="products-list" data-ng-show="!hasProducts()">
						<li class="product-item">
							No Products Added...Add one!
						</li>
					</ul>
					<ul class="products-list" data-ng-show="hasProducts()">
						<li class="product-item" data-ng-repeat="product in products">
							<span>{{product.name}}</span>
							<a class="edit" data-ng-click="editProduct(product)"></a>
							<a class="delete" data-ng-click="deleteProduct(product)">Delete</a>
						</li>
					</ul>
				</div>
			</div>

		</div>

		<div id="output">
			<textarea id="output-area" data-ng-model="output"></textarea>
			<iframe id="preview-frame" frameborder="no"></iframe>
		</div>

		<script id="before-html" type="text/template">
			<!DOCTYPE html>
			<html>
				<head>
					<title><%= store.name %></title>
				</head>
				<body>
					<div style="font-family:'helvetica neue','helvetica',arial,sans-serif;font-weight:300">
						<fieldset style="border-top:1px solid #ddd;border-left:none;border-right:none;border-bottom:none;max-width:576px;padding:15px 0px!important;margin:0 auto 20px auto!important">

							<% if (store.bannerUrl) { %>
								<a href="<%= store.url %>" target="_blank">
									<img src="<%= store.bannerUrl %>" style="display: block; margin: 0 0 40px 0;">
								</a>
							<% } %>

							<legend style="color:#555;font-size:20px;font-weight:bold;padding:0 10px 0 0">
								<%= store.name %>
							</legend>

							<% for (var product in products) { %>
							<div style="width:33.33%;float:left;">
								<a href="<%= products[product].url %>" style="display: block;margin: 0 10px; color:#333;text-decoration:none" target="_blank">
									<div style="max-height:130px;overflow:hidden;border:5px solid #dddddd;position:relative">
										<img src="<%= products[product].image %>" style="width:100%">
										<div style="position:absolute;width:100%;height:25px;right:0;bottom:0;background:rgba(255,255,255,0.7);text-align:right">
											<span style="position:absolute;display:block;width:90%;height:100%;padding:0 5%;top:-12px;left:0;color:#333;text-decoration:none">
												<p>$<%= products[product].price %></p>
											</span>
										</div>
									</div>
									<h3 style="font-weight:300;font-size:12px;text-align:right"><%= products[product].name %></h3>
								</a>
							</div>
							<% }; %>

						</fieldset>
					</div>

					<div class="footer" style="display: block; margin: 0 0 20px 0;">
						<% if (store.tagline) { %>
							<a href="<%= store.url %>" target="_blank" style="display: block; color: #333; text-decoration: none; font-family:'helvetica neue','helvetica',arial,sans-serif;font-weight:700; text-align: center; font-size: 14px; background: #EEE; text-shadow: 0px 1px 0px #FFF; border: 1px solid #DDD; padding: 15px 10px;">
								<%= store.tagline %>
							</a>
						<% } %>
					</div>
					<a style="display: block; text-align: center; font-family: sans-serif; font-size: 12px; text-decoration: none; color: #000; " href="http://groundctrl.com" target="_blank">powered by <strong style="font-weight: 700;">ground</strong>(ctrl)</a>
				</body>
			</html>
		</script>


		<!--<script src="http://code.jquery.com/jquery.min.js" type="text/javascript"></script> NO $ -->
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js" type="text/javascript"></script>
		<script src="js/underscore.js" type="text/javascript"></script>
		<script src="js/generator.js" type="text/javascript"></script>

	</body>
</html>