/**
 * Store Generator (variables)
 * ===========================
 * Development: Matt Goucher : matt[at]mattgoucher[dot]com
*/

// Brand Colors
$white: #fff;

    // Purples
    $purple: #563D7C;
    $darkPurple: #463265;
    $lightPurple: #CDBFE3;

    // Greys
    $lightestGrey: #F7F7F9;
    $lightGrey: #E1E1E8;

    // Danger
    $danger: #D9534F;
    $darkDanger: #D2322D;